[Unit]
Description=Polimesh Validator

[Service]
User=polymesh
Group=polymesh
ExecStart=/home/polymesh/operator.start
Restart=always
RestartSec=120
LimitNPROC=1000

[Install]
WantedBy=multi-user.target
