[Unit]
Description=Polkadot Validator

[Service]
User=polkadot
Group=polkadot
ExecStartPre=/usr/local/bin/hostname.sh
EnvironmentFile=/usr/local/etc/hostname
ExecStart=/usr/local/bin/polkadot --operator --name $HOSTNAME --prometheus-external 
Restart=always
RestartSec=120
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
