[Unit]
Description=Polkadot Validator

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/polkadot --operator --name $HOSTNAME --prometheus-external 
Restart=always
RestartSec=120
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
