[Unit]
Description=Polimesh Sentry

[Service]
User=polymesh
Group=polymesh
EnvironmentFile=/usr/local/etc/hostname
ExecStart=/usr/local/bin/polymesh --name $HOSTNAME --prometheus-external --sentry /ip4/10.0.0.10/tcp/30333/p2p/12D3KooWMyRYnC5NikHuMDXJ3tynQitSSp7KCVXE4JHtZyRNvWmm
Restart=always
RestartSec=120
LimitNPROC=1000

[Install]
WantedBy=multi-user.target

